<ion-footer class="footer">
  <ion-toolbar class="bar">
    <ion-buttons slot="start" class="buttons">
      <ion-button class="button" routerLink="/home">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div style="margin-left: 10%">
      <ion-toolbar class="bar">
    <ion-buttons slot="start" class="buttons">
      <ion-button class="button">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="buttons">
      <ion-button class="button"  routerLink="/category-list">
<!--        <ion-icon name="cart-outline"></ion-icon>-->
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>
    </div>
    <ion-buttons slot="end" class="buttons">
      <ion-button class="button">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

