
<ion-content [fullscreen]="true" class="custom-content">
  <div class="containers">
    <div class="container">
      <ion-img src="assets/icon/app-landing.jpeg" class="landing-img"/>
    </div>
    <div class="container2">
      <h1 class="title">Enjoy your online <br> Shopping With Us!</h1>
      <p class="subtitle">Browse throught all categories and shop the <br> best tech for you.</p>
      <ion-button class="button" style="--background: #4CA7D9" routerLink="/login"><h3 style="font-size: 23px">Get started</h3></ion-button>
    </div>

  </div>


</ion-content>

